.App {
  display: flex;
  flex-direction: row;
  height: 100vh
}

.Sidebar {
  display: flex;
  flex-direction: column;
  background: #90A4AE;
  z-index: 10;
  overflow-y: hidden;
  max-width: 15%
}

.Logo {
  width: 100%;
  height: auto;
  padding: 0.5em;
  flex-grow: 0;
}

.SceneListScroller {
  flex-grow: 1;
  overflow-y: auto;
  height: 100%;
}

.SceneList {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1em;
  align-items: center;
  overflow-y: auto;
}

.SceneView {
  flex-grow: 1;
  background: #CFD8DC;
  padding: 2em;
}